<h1>Upload your Contacts.xml file for improt</h1>

<form asp-action="" method="POST">
    <fieldset>
        <input type="file">
        <input type="submit" value="upload" id="upload">
    </fieldset>
</form>